.places article{
    padding: 20px;
    margin: 20px;
    width: 390px;
    border:1px solid #FF5A5F;
    border-radius: 4px;
}

.places h1{
    font-size: 30px
}

.places h2{
    text-align: center;
    font-size: 30px;
    margin-top: 0;
}

.places{
    margin-left: 40px
}

.stuff{
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
